/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

public/css/owl.carousel.css
public/css/nice-select.css
public/css/magnific-popup.css
public/css/linearicons.css
public/css/jquery-ui.css
public/css/animate.min.css

public/js/easing.min.js
public/js/hoverIntent.js
public/js/jquery-ui.js
public/js/jquery.ajaxchimp.min.js
public/js/jquery.magnific-popup.min.js
public/js/jquery.nice-select.min.js
public/js/jquery.tabs.min.js
public/js/mail-script.js
public/js/owl.carousel.min.js
public/js/superfish.min.js